body, button {
	font-family: "Monaco";
	text-align: center;
	background: coral;
	color: whitesmoke;
}

.countdowntimer {
	font-size: 70px;
}

.countdownclock {
	margin: auto;
}

.button {
	width: 100%;
	height: 50%;
	font-size: 50px;
	color: whitesmoke;
	background-color: crimson;
	border-radius: 10px;
}

.wrapper {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.circle{
	margin: auto;
	margin-top: 30px;
	width: 150px;
	height: 150px;
	background: red;
	border-radius: 50%
}

footer {
	margin-bottom: 10px;
}

@media only screen and (min-width: 415px){
	.button{
		width: 350px;
		height: 90px;
	}
	.countdowntimer{
		font-size: 100px;
	}
	.circle{
		width: 200px;
		height: 200px;
		margin-top: 50px;
	}
}