body, button {
	font-family: "Monaco";
	text-align: center;
	background: coral;
	color: whitesmoke;
}

.countdowntimer {
	font-size: 70px;
}

.countdownclock {
	margin: auto;
}

.aligncenter {
	text-align: center;
}

button {
	width: 100%;
	height: 90px;
	font-size: 50px;
	color: whitesmoke;
	background-color: crimson;
	border-radius: 10px;
}

.wrapper {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 100px;
}

.circle{
	margin: auto;
	margin-top: 100px;
	width: 200px;
	height: 200px;
	background: red;
	border-radius: 50%
}

footer {
	margin-bottom: 10px;
}

@media only screen and (min-width: 375px){
	button{
		width: 350px;
	}
	.countdowntimer{
		font-size: 100px;
	}
}